In [91]:
import pandas as pd
import numpy as np

xls = pd.ExcelFile('../Data/covid19-fhm.xlsx') # imports the excelfile from directory
df1 = pd.read_excel(xls, 'Veckodata Riket') # reads only the specific sheet

In [92]:
df1.dtypes

år                                  int64
veckonummer                         int64
Antal_fall_vecka                    int64
Antal_fall_100000inv_vecka          int64
Antal_fall_100000inv_14dagar        int64
Kum_antal_fall                      int64
Kum_fall_100000inv                  int64
Antal_nyaintensivvårdade_vecka      int64
Kum_antal_intensivvårdade           int64
Antal_avlidna_vecka                 int64
Antal_avlidna_milj_inv_vecka      float64
Kum_antal_avlidna                   int64
Kum_antal_avlidna_milj_inv        float64
dtype: object

In [93]:
df1.describe()

,år,veckonummer,Antal_fall_vecka,Antal_fall_100000inv_vecka,Antal_fall_100000inv_14dagar,Kum_antal_fall,Kum_fall_100000inv,Antal_nyaintensivvårdade_vecka,Kum_antal_intensivvårdade,Antal_avlidna_vecka,Antal_avlidna_milj_inv_vecka,Kum_antal_avlidna,Kum_antal_avlidna_milj_inv
count,89.000000,89.000000,89.000000,89.000000,89.000000,8.900000e+01,89.000000,89.000000,89.000000,89.000000,89.000000,89.000000,89.000000
mean,2020.460674,25.584270,13061.865169,126.011236,251.584270,4.885261e+05,4709.325843,88.606742,4261.741573,167.910112,16.233708,8923.303371,860.923595
std,0.501275,13.713637,14210.652869,137.184472,272.989003,4.559136e+05,4391.041264,83.646662,2609.965149,204.302952,19.765609,5126.703711,493.286226
min,2020.000000,1.000000,0.000000,0.000000,0.000000,1.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2020.000000,14.000000,2179.000000,21.000000,46.000000,7.279100e+04,705.000000,14.000000,2491.000000,17.000000,1.600000,5621.000000,544.299988
50%,2020.000000,25.000000,4608.000000,44.000000,100.000000,3.380260e+05,3273.000000,59.000000,3638.000000,82.000000,7.900000,8135.000000,787.700012
75%,2021.000000,36.000000,25405.000000,246.000000,485.000000,1.044862e+06,10067.000000,153.000000,7348.000000,235.000000,22.799999,14416.000000,1388.900024
max,2021.000000,53.000000,46177.000000,447.000000,869.000000,1.162506e+06,11200.000000,289.000000,7886.000000,664.000000,64.300003,14944.000000,1439.800049

In [94]:
df1.columns

Index(['år', 'veckonummer', 'Antal_fall_vecka', 'Antal_fall_100000inv_vecka',
       'Antal_fall_100000inv_14dagar', 'Kum_antal_fall', 'Kum_fall_100000inv',
       'Antal_nyaintensivvårdade_vecka', 'Kum_antal_intensivvårdade',
       'Antal_avlidna_vecka', 'Antal_avlidna_milj_inv_vecka',
       'Kum_antal_avlidna', 'Kum_antal_avlidna_milj_inv'],
      dtype='object')

In [95]:
df1.index

RangeIndex(start=0, stop=89, step=1)

In [96]:
df1['veckonummer'] = df1['veckonummer'].apply(lambda x: f"v{x}") # adds 'v' before each number in 'veckonummer'
df1

,år,veckonummer,Antal_fall_vecka,Antal_fall_100000inv_vecka,Antal_fall_100000inv_14dagar,Kum_antal_fall,Kum_fall_100000inv,Antal_nyaintensivvårdade_vecka,Kum_antal_intensivvårdade,Antal_avlidna_vecka,Antal_avlidna_milj_inv_vecka,Kum_antal_avlidna,Kum_antal_avlidna_milj_inv
0,2020,v6,1,0,0,1,0,0,0,0,0.0,0,0.000000
1,2020,v7,0,0,0,1,0,0,0,0,0.0,0,0.000000
2,2020,v8,0,0,0,1,0,0,0,0,0.0,0,0.000000
3,2020,v9,13,0,0,14,0,0,0,0,0.0,0,0.000000
4,2020,v10,211,2,2,225,2,3,3,0,0.0,0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,2021,v37,6266,60,137,1145764,11039,24,7823,52,5.0,14807,1426.599976
85,2021,v38,4298,41,101,1150062,11080,21,7844,40,3.9,14847,1430.400024
86,2021,v39,4241,41,82,1154303,11121,17,7861,37,3.6,14884,1434.000000
87,2021,v40,4141,40,81,1158444,11161,15,7876,42,4.0,14926,1438.099976
88,2021,v41,4062,39,79,1162506,11200,10,7886,18,1.7,14944,1439.800049

In [97]:
df1['Vecka'] = df1['år'].map(str) + df1['veckonummer'] # creates a new column 'Vecka', since adding of 'v' changed one column into str... 
                                                        # a remapping of column 'år' was needed
df1

,år,veckonummer,Antal_fall_vecka,Antal_fall_100000inv_vecka,Antal_fall_100000inv_14dagar,Kum_antal_fall,Kum_fall_100000inv,Antal_nyaintensivvårdade_vecka,Kum_antal_intensivvårdade,Antal_avlidna_vecka,Antal_avlidna_milj_inv_vecka,Kum_antal_avlidna,Kum_antal_avlidna_milj_inv,Vecka
0,2020,v6,1,0,0,1,0,0,0,0,0.0,0,0.000000,2020v6
1,2020,v7,0,0,0,1,0,0,0,0,0.0,0,0.000000,2020v7
2,2020,v8,0,0,0,1,0,0,0,0,0.0,0,0.000000,2020v8
3,2020,v9,13,0,0,14,0,0,0,0,0.0,0,0.000000,2020v9
4,2020,v10,211,2,2,225,2,3,3,0,0.0,0,0.000000,2020v10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,2021,v37,6266,60,137,1145764,11039,24,7823,52,5.0,14807,1426.599976,2021v37
85,2021,v38,4298,41,101,1150062,11080,21,7844,40,3.9,14847,1430.400024,2021v38
86,2021,v39,4241,41,82,1154303,11121,17,7861,37,3.6,14884,1434.000000,2021v39
87,2021,v40,4141,40,81,1158444,11161,15,7876,42,4.0,14926,1438.099976,2021v40
88,2021,v41,4062,39,79,1162506,11200,10,7886,18,1.7,14944,1439.800049,2021v41

In [98]:
df1.columns.value_counts().sum() # checks total number of columns

14

In [99]:
 new_df1 = df1[['år', 'veckonummer','Vecka', 'Antal_fall_vecka', 'Antal_fall_100000inv_vecka','Antal_fall_100000inv_14dagar', 'Kum_antal_fall', 'Kum_fall_100000inv','Antal_nyaintensivvårdade_vecka', 'Kum_antal_intensivvårdade','Antal_avlidna_vecka', 'Antal_avlidna_milj_inv_vecka', 'Kum_antal_avlidna', 'Kum_antal_avlidna_milj_inv',]]
 new_df1  # reorders columns, used df1.columns to ctrl+c

,år,veckonummer,Vecka,Antal_fall_vecka,Antal_fall_100000inv_vecka,Antal_fall_100000inv_14dagar,Kum_antal_fall,Kum_fall_100000inv,Antal_nyaintensivvårdade_vecka,Kum_antal_intensivvårdade,Antal_avlidna_vecka,Antal_avlidna_milj_inv_vecka,Kum_antal_avlidna,Kum_antal_avlidna_milj_inv
0,2020,v6,2020v6,1,0,0,1,0,0,0,0,0.0,0,0.000000
1,2020,v7,2020v7,0,0,0,1,0,0,0,0,0.0,0,0.000000
2,2020,v8,2020v8,0,0,0,1,0,0,0,0,0.0,0,0.000000
3,2020,v9,2020v9,13,0,0,14,0,0,0,0,0.0,0,0.000000
4,2020,v10,2020v10,211,2,2,225,2,3,3,0,0.0,0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,2021,v37,2021v37,6266,60,137,1145764,11039,24,7823,52,5.0,14807,1426.599976
85,2021,v38,2021v38,4298,41,101,1150062,11080,21,7844,40,3.9,14847,1430.400024
86,2021,v39,2021v39,4241,41,82,1154303,11121,17,7861,37,3.6,14884,1434.000000
87,2021,v40,2021v40,4141,40,81,1158444,11161,15,7876,42,4.0,14926,1438.099976
88,2021,v41,2021v41,4062,39,79,1162506,11200,10,7886,18,1.7,14944,1439.800049

In [104]:
new_df1 = new_df1.drop(['år','veckonummer'], axis=1) # drops the columns from new_df1
new_df1

,Vecka,Antal_fall_vecka,Antal_fall_100000inv_vecka,Antal_fall_100000inv_14dagar,Kum_antal_fall,Kum_fall_100000inv,Antal_nyaintensivvårdade_vecka,Kum_antal_intensivvårdade,Antal_avlidna_vecka,Antal_avlidna_milj_inv_vecka,Kum_antal_avlidna,Kum_antal_avlidna_milj_inv
0,2020v6,1,0,0,1,0,0,0,0,0.0,0,0.000000
1,2020v7,0,0,0,1,0,0,0,0,0.0,0,0.000000
2,2020v8,0,0,0,1,0,0,0,0,0.0,0,0.000000
3,2020v9,13,0,0,14,0,0,0,0,0.0,0,0.000000
4,2020v10,211,2,2,225,2,3,3,0,0.0,0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
84,2021v37,6266,60,137,1145764,11039,24,7823,52,5.0,14807,1426.599976
85,2021v38,4298,41,101,1150062,11080,21,7844,40,3.9,14847,1430.400024
86,2021v39,4241,41,82,1154303,11121,17,7861,37,3.6,14884,1434.000000
87,2021v40,4141,40,81,1158444,11161,15,7876,42,4.0,14926,1438.099976
88,2021v41,4062,39,79,1162506,11200,10,7886,18,1.7,14944,1439.800049